* {
    box-sizing: inherit;
}

body {
    font-family: Helvetica;
    margin: 0;
}

:root {
    --text-color: #333;
    --primary-color: #329e5e;
}

.background {
   
}

.background-overlay {
    position: absolute;
    width: 164%;
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
}

.background-body {
    margin: auto;
}

.container {
    margin: auto;
    background-color: white;
    height: 968px;
    width: 1140px;
}

.container-body {
    display: flex;
}

.container-body-img {
    width: 380px;
    height: auto;
}

.container-body-img-image {
    width: 300px;
    height: 968px;
}

.main {
    width: 760px;
    max-width: 100%;

}

.main-top{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.main-top-left {

}

.main-top-left-column {
    list-style: none;
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
}

.main-top-right {

}

.main-top-right-column {
    list-style: none;
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
}

.main-top-input {
    height: 51px;
    width: 270px;
    border-color: #302f2f14;
    border-radius: 4px;
    border-width: 1px;
}

.main-top-right-select {
    height: 51px;
    width: 270px;
    border-color: #302f2f14;
    border-radius: 4px;
    border-width: 1px;
}

.main-top-right-check {
    font-size: 14px;
    font-weight: 700;
    color: #262222;
}

.main-top-right-checkbox {

}

.main-top-right-checkbox-button {
    accent-color: var(--primary-color);
}


