* {
    box-sizing: inherit;
}

body {
    font-family: Helvetica;
    margin: 0;
}

:root {
    --text-color: #333;
    --primary-color: #329e5e;
}

.btn {
    width: 96px;
    height: 46px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.background {
   
}

.background-overlay {
    position: absolute;
    width: 164%;
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
}

.background-body {
    margin: auto;
}

.container {
    margin: auto;
    background-color: white;
    height: 968px;
    width: 1140px;
}

.container-body {
    display: flex;
}

.container-body-img {
    width: 380px;
    height: auto;
}

.container-body-img-image {
    width: 300px;
    height: 968px;
}

.main {
    width: 760px;
    max-width: 100%;

}

.main-top{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}

.main-top-left {

}

.main-top-left-column {
    list-style: none;
    padding-bottom: 26px;
}

.main-top-left-text {
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
    margin: 0 0 16px 0;
}

.main-top-right {
    padding-right: 64px;
}

.main-top-right-column {
    list-style: none;
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
    padding-bottom: 26px;
}

.main-top-right-text {
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
    margin: 0 0 16px 0;
}


.main-top-input {
    height: 51px;
    width: 285px;
    border-color: #302f2f14;
    border-radius: 5px;
    border-width: 1px;
}

.main-top-right-select {
    height: 51px;
    width: 285px;
    border-color: #302f2f14;
    border-radius: 5px;
    border-width: 1px;
}

.main-top-right-check {
    font-size: 14px;
    font-weight: 700;
    color: #262222;
    padding: 20px 0;
}

.main-top-right-checkbox {

}

.main-top-right-checkbox-button {
    accent-color: var(--primary-color);
}

/* bottom */
.main-bottom-top-text {
    font-size: 14px;
    font-weight: 900;
    color: var(--text-color);
    margin: 0;
    padding-left: 40px;
}

.btn.main-bottom-button-primary-btn 
{
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-right: 36px;
}

.btn.main-bottom-button-basic-btn
{
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #302f2f14;
    color: #b1adad;
}

.main-bottom-button {
    margin-top: 136px;
    padding-right: 64px;
    display: flex;
    justify-content: flex-end;

}

